<div class='user-card'>
    <div class='user-photo'>
         <img class='img' src="<%= user.photo %>" alt="<%= user.name %>"/>
    </div>
    <div class='user-info'>
        <h2 class='user-name'><%= link_to user.name, user_path(user.id) %></h2>
        <p class='post-number'>Number of posts: <%= user.posts_counter %></p>
    </div>
</div>