<div class="post-card">

    <h2><%= post.title%></h2>
  <p class='post-content'><%= post.text.length > 120 ? post.text.first(100) + '...' : post.text %></p>
  <p class='post-stats'>Comments: <%= post.comments_counter %>, Likes: <%= post.likes_counter %></p>
</div>